h1 {
    text-align: center;
    color: chartreuse;
}

h1:hover {color: red;}

.btn-primary:hover {
  background-color: crimson;
}

.card {
  border: solid crimson;
}

body {
  background-color: bisque;
}

